
<div class="card bg-secondary">
  <div class="card-header"><h1 style="text-align: center;">{{this.index}}</h1></div>
  <div class="card-body">
    <div class="text-center">
      <button (click)="RegisterToggle()" style="margin: 2%;" class="btn btn-dark btn-lg">Register</button>
      <button (click)="LoginToggle()" class="btn btn-light btn-lg">Login</button>
      <br>
      <button style="margin-top: 20px;"
      class="btn btn-info" (click)="backButton()">
      Back to home
      </button>
    </div>
  </div>
</div>
